In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os,sys,re
import pandas as pd

# 1. Data processing

## Permits Data Read and Preprocessing

In [2]:
## The dataset
txt_path = "D:\\workspace\\DeepLearning_codes\\AlphaReal\\Permits_raw.txt"
#df = pd.read_csv(txt_path, sep='\t', lineterminator='\r')
df = pd.read_csv(txt_path, sep='\t')
print(df.head())

     Reg 1990. 01 1990. 02 1990. 03 1990. 04 1990. 05 1990. 06 1990. 07  \
0  Total   25,520   28,285   68,001   53,793   95,207   28,797  105,495
1     GN    3,945    2,256    1,945    4,954    6,697      665    8,691
2     GG    3,278    7,225   17,874   12,618   28,382    8,457   27,407
3     CB    3,043      567    1,901    1,503    2,476      841      973
4     JN    2,465      734    2,911    1,210    3,377       60    5,405

  1990. 08 1990. 09  ... 2019. 02 2019. 03 2019. 04 2019. 05 2019. 06  \
0   81,851   71,552  ...   42,254   50,863   35,616   29,398   36,440
1    8,075    4,729  ...    2,146      505      677    2,423      805
2   23,272   14,769  ...   11,356   15,678   15,391    8,657    9,581
3    1,433    3,078  ...      628      451    1,164      498      404
4    2,246    2,598  ...    2,441    1,674    1,868    2,155    1,570

  2019. 07 2019. 08 2019. 09 2019. 10 2019. 11
0   27,574   28,776   31,271   39,757   33,368
1      678      329    1,730    3,223      390
2    4,487    8,030   15,562   10,821   10,318
3      275    1,327      439    2,765      805
4      772    1,078    2,234    3,025      745

[5 rows x 360 columns]

In [3]:
df = df.set_index('Reg').T
print(df.head())
print(df.tail())

Reg        Total     GN      GG     CB     JN     IC     SO     CN     JB  \
1990. 01  25,520  3,945   3,278  3,043  2,465  2,318  2,309  2,272  1,200
1990. 02  28,285  2,256   7,225    567    734  2,001  6,376  1,315    470
1990. 03  68,001  1,945  17,874  1,901  2,911  6,727  8,814  1,772  1,930
1990. 04  53,793  4,954  12,618  1,503  1,210  5,150  8,909  2,310  1,540
1990. 05  95,207  6,697  28,382  2,476  3,377  8,528  9,690  2,286  3,914

Reg          GJ     GB     BS     DJ     DG     GW     JJ US SJ
1990. 01  1,126    865    859    859    441    298    242  -  -
1990. 02  1,448    347  2,796    159  2,061    110    420  -  -
1990. 03  3,151  3,054  6,109    843  7,283  3,340    347  -  -
1990. 04  2,915  2,976  3,903  1,750  2,135  1,391    529  -  -
1990. 05  4,951  2,502  6,546  8,051  4,225  2,495  1,087  -  -
Reg        Total     GN      GG     CB     JN     IC     SO     CN     JB  \
2019. 07  27,574    678   4,487    275    772  3,689  3,764  3,540    440
2019. 08  28,776    329   8,030  1,327  1,078  7,205  4,331    763  1,102
2019. 09  31,271  1,730  15,562    439  2,234  1,485  2,661    390    337
2019. 10  39,757  3,223  10,821  2,765  3,025  3,732  2,987  1,182  1,771
2019. 11  33,368    390  10,318    805    745  1,326  4,275  2,337  2,105

Reg          GJ     GB     BS     DJ     DG     GW   JJ   US  SJ
2019. 07  1,125  1,173  1,822    223  2,799  1,981  589  157  60
2019. 08    624    469    421    494  1,498    561  475   36  33
2019. 09  1,066    402  1,692     39  2,152    527  503   27  25
2019. 10    431  1,231  1,383  2,391  3,186  1,233  327   57  12
2019. 11  1,526    542  2,145      2  4,148  1,934  597  154  19

In [4]:
df = df.drop(['SJ', 'Total'], axis=1)
print(df.head())

Reg          GN      GG     CB     JN     IC     SO     CN     JB     GJ  \
1990. 01  3,945   3,278  3,043  2,465  2,318  2,309  2,272  1,200  1,126
1990. 02  2,256   7,225    567    734  2,001  6,376  1,315    470  1,448
1990. 03  1,945  17,874  1,901  2,911  6,727  8,814  1,772  1,930  3,151
1990. 04  4,954  12,618  1,503  1,210  5,150  8,909  2,310  1,540  2,915
1990. 05  6,697  28,382  2,476  3,377  8,528  9,690  2,286  3,914  4,951

Reg          GB     BS     DJ     DG     GW     JJ US
1990. 01    865    859    859    441    298    242  -
1990. 02    347  2,796    159  2,061    110    420  -
1990. 03  3,054  6,109    843  7,283  3,340    347  -
1990. 04  2,976  3,903  1,750  2,135  1,391    529  -
1990. 05  2,502  6,546  8,051  4,225  2,495  1,087  -

In [5]:
df=df.applymap(lambda x: x.replace(',', ''))
print(df.head())

Reg         GN     GG    CB    JN    IC    SO    CN    JB    GJ    GB    BS  \
1990. 01  3945   3278  3043  2465  2318  2309  2272  1200  1126   865   859
1990. 02  2256   7225   567   734  2001  6376  1315   470  1448   347  2796
1990. 03  1945  17874  1901  2911  6727  8814  1772  1930  3151  3054  6109
1990. 04  4954  12618  1503  1210  5150  8909  2310  1540  2915  2976  3903
1990. 05  6697  28382  2476  3377  8528  9690  2286  3914  4951  2502  6546

Reg         DJ    DG    GW    JJ US
1990. 01   859   441   298   242  -
1990. 02   159  2061   110   420  -
1990. 03   843  7283  3340   347  -
1990. 04  1750  2135  1391   529  -
1990. 05  8051  4225  2495  1087  -

In [6]:
df.replace({'-': None},inplace =True)
print(df.head())

Reg         GN     GG    CB    JN    IC    SO    CN    JB    GJ    GB    BS  \
1990. 01  3945   3278  3043  2465  2318  2309  2272  1200  1126   865   859
1990. 02  2256   7225   567   734  2001  6376  1315   470  1448   347  2796
1990. 03  1945  17874  1901  2911  6727  8814  1772  1930  3151  3054  6109
1990. 04  4954  12618  1503  1210  5150  8909  2310  1540  2915  2976  3903
1990. 05  6697  28382  2476  3377  8528  9690  2286  3914  4951  2502  6546

Reg         DJ    DG    GW    JJ    US
1990. 01   859   441   298   242  None
1990. 02   159  2061   110   420  None
1990. 03   843  7283  3340   347  None
1990. 04  1750  2135  1391   529  None
1990. 05  8051  4225  2495  1087  None

In [7]:
df=df.dropna()
print(df.head())

Reg         GN     GG    CB    JN    IC    SO    CN    JB    GJ    GB    BS  \
1997. 01  3340   7700  1218   872  2850  6321  4453  1794    43  2970  2051
1997. 02  5205   5446   529   894  2012  5139  2142  1259    81   512  2020
1997. 03  3481  10733  1870   729   992  5216  1083  1946  1432  5626  1821
1997. 04  3536  12607  2762  2122  2131  5591  5331  3101  4306  5528  1393
1997. 05  4025   9593  3143  4988  3312  3872  3747  4225  4070  2835  4161

Reg         DJ     DG    GW   JJ    US
1997. 01   648   2548   405   92   218
1997. 02  2234   2110   733  198   433
1997. 03   456   2409   515  368   765
1997. 04   417   2379  1489  351  1131
1997. 05   456  10168  1686  371   743

In [8]:
df=df.apply(pd.to_numeric)
print(df.head())

Reg         GN     GG    CB    JN    IC    SO    CN    JB    GJ    GB    BS  \
1997. 01  3340   7700  1218   872  2850  6321  4453  1794    43  2970  2051
1997. 02  5205   5446   529   894  2012  5139  2142  1259    81   512  2020
1997. 03  3481  10733  1870   729   992  5216  1083  1946  1432  5626  1821
1997. 04  3536  12607  2762  2122  2131  5591  5331  3101  4306  5528  1393
1997. 05  4025   9593  3143  4988  3312  3872  3747  4225  4070  2835  4161

Reg         DJ     DG    GW   JJ    US
1997. 01   648   2548   405   92   218
1997. 02  2234   2110   733  198   433
1997. 03   456   2409   515  368   765
1997. 04   417   2379  1489  351  1131
1997. 05   456  10168  1686  371   743

In [9]:
df.describe()

Reg,GN,GG,CB,JN,IC,SO,CN,JB,GJ,GB,BS,DJ,DG,GW,JJ,US
count,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000
mean,2918.306569,12832.218978,1540.295620,1318.208029,2478.492701,6355.916058,2316.678832,1325.069343,1209.879562,2037.153285,2598.262774,886.799270,1861.857664,1379.598540,652.649635,873.616788
std,2335.246892,11084.949921,1318.410166,1008.602423,2662.812224,5843.611135,1997.361272,1233.259628,1461.780523,1505.929418,2321.215130,1220.312546,2049.830167,1133.527891,577.485158,950.165640
min,322.000000,1330.000000,128.000000,-248.000000,-454.000000,356.000000,153.000000,34.000000,-1276.000000,-650.000000,41.000000,-938.000000,-6713.000000,-7.000000,-17.000000,27.000000
25%,1365.250000,6242.750000,516.500000,574.500000,784.250000,2662.000000,1001.000000,507.250000,194.000000,928.250000,969.000000,162.750000,447.750000,589.750000,222.500000,198.500000
50%,2332.000000,9587.000000,1141.000000,1061.000000,1593.000000,5142.000000,1778.000000,1042.000000,781.000000,1584.000000,1915.000000,440.000000,1225.000000,1087.000000,464.500000,453.000000
75%,3715.250000,15079.500000,2189.250000,1803.250000,3309.250000,8074.000000,3046.000000,1623.250000,1617.000000,2727.500000,3552.750000,1022.500000,2604.000000,1819.500000,913.000000,1242.000000
max,14769.000000,84234.000000,6533.000000,6122.000000,16726.000000,53348.000000,14565.000000,7287.000000,9716.000000,8402.000000,11830.000000,7679.000000,10909.000000,6349.000000,3208.000000,4295.000000

In [10]:
df

Reg,GN,GG,CB,JN,IC,SO,CN,JB,GJ,GB,BS,DJ,DG,GW,JJ,US
1997. 01,3340,7700,1218,872,2850,6321,4453,1794,43,2970,2051,648,2548,405,92,218
1997. 02,5205,5446,529,894,2012,5139,2142,1259,81,512,2020,2234,2110,733,198,433
1997. 03,3481,10733,1870,729,992,5216,1083,1946,1432,5626,1821,456,2409,515,368,765
1997. 04,3536,12607,2762,2122,2131,5591,5331,3101,4306,5528,1393,417,2379,1489,351,1131
1997. 05,4025,9593,3143,4988,3312,3872,3747,4225,4070,2835,4161,456,10168,1686,371,743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019. 07,678,4487,275,772,3689,3764,3540,440,1125,1173,1822,223,2799,1981,589,157
2019. 08,329,8030,1327,1078,7205,4331,763,1102,624,469,421,494,1498,561,475,36
2019. 09,1730,15562,439,2234,1485,2661,390,337,1066,402,1692,39,2152,527,503,27
2019. 10,3223,10821,2765,3025,3732,2987,1182,1771,431,1231,1383,2391,3186,1233,327,57
2019. 11,390,10318,805,745,1326,4275,2337,2105,1526,542,2145,2,4148,1934,597,154

## pandas.core.window.Rolling.sum

In [11]:
p_window_size = 12 # month

In [12]:
df_permit = df.rolling(p_window_size).sum().dropna()
df_permit

Reg,GN,GG,CB,JN,IC,SO,CN,JB,GJ,GB,BS,DJ,DG,GW,JJ,US
1997. 12,53931.0,139253.0,30633.0,20479.0,19671.0,70446.0,53302.0,26194.0,28311.0,40879.0,35468.0,9145.0,37878.0,18475.0,4216.0,8154.0
1998. 01,53443.0,141326.0,30571.0,20719.0,17161.0,66631.0,49779.0,25010.0,29207.0,38414.0,42928.0,9259.0,35459.0,19996.0,4224.0,8951.0
1998. 02,49731.0,151244.0,30887.0,20817.0,16051.0,63333.0,49818.0,24011.0,29139.0,38461.0,42979.0,7109.0,33397.0,20088.0,6293.0,8582.0
1998. 03,48248.0,148965.0,29660.0,21232.0,16469.0,63632.0,51799.0,22140.0,28618.0,33180.0,42566.0,6707.0,31034.0,20797.0,6158.0,7899.0
1998. 04,45083.0,142437.0,28318.0,22601.0,14780.0,59547.0,46669.0,19112.0,24324.0,30166.0,42519.0,8718.0,28709.0,21953.0,5979.0,6904.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019. 07,19636.0,161261.0,13500.0,16222.0,47973.0,72888.0,30747.0,10842.0,13447.0,14538.0,15905.0,14697.0,28423.0,17916.0,5501.0,11066.0
2019. 08,16856.0,159839.0,13313.0,16234.0,47306.0,72923.0,30045.0,11438.0,13825.0,13559.0,14689.0,14882.0,26846.0,17113.0,5460.0,10720.0
2019. 09,18225.0,164371.0,11789.0,18011.0,46941.0,71940.0,29205.0,10783.0,14533.0,13114.0,15442.0,14557.0,25924.0,15506.0,5488.0,10282.0
2019. 10,20105.0,164328.0,11649.0,19613.0,48535.0,69071.0,26644.0,12231.0,14816.0,13003.0,15544.0,16353.0,28288.0,14519.0,5343.0,9970.0
2019. 11,20054.0,165195.0,12212.0,19471.0,43115.0,64837.0,26594.0,13966.0,13383.0,12803.0,16536.0,16260.0,27901.0,15610.0,5560.0,6037.0

## MM data Read and Preprocessing

In [13]:
## The MM dataset
txt_path = "D:\\workspace\\DeepLearning_codes\\AlphaReal\\MM_raw.txt"
df = pd.read_csv(txt_path, sep='\t')
print(df.head())

     Reg 2003. 11 2003. 12 2004. 01 2004. 02 2004. 03 2004. 04 2004. 05  \
0  Total     63.2     62.9     62.7     62.9     63.2     63.4     63.5
1    Cap     64.9     64.5     64.3     64.5     64.7     65.0     65.0
2     SO     61.6     61.2     61.0     61.4     61.7     62.1     62.2
3     GG     66.8     66.5     66.2     66.3     66.5     66.7     66.6
4     IC     67.1     66.6     66.4     66.6     66.6     66.8     66.8

  2004. 06 2004. 07  ... 2019. 02 2019. 03 2019. 04 2019. 05 2019. 06  \
0     63.5     63.4  ...     99.6     99.3     98.9     98.6     98.3
1     64.8     64.6  ...    103.3    103.0    102.6    102.3    102.1
2     62.1     61.9  ...    108.1    107.7    107.3    107.1    107.0
3     66.3     66.0  ...    101.3    101.0    100.5    100.1     99.8
4     66.7     66.8  ...     99.7     99.6     99.5     99.4     99.4

  2019. 07 2019. 08 2019. 09 2019. 10 2019. 11
0     98.1     98.0     97.9     98.0     98.2
1    102.0    102.1    102.2    102.5    103.0
2    107.1    107.2    107.4    108.1    108.8
3     99.6     99.6     99.7     99.9    100.2
4     99.4     99.1     99.3     99.4     99.6

[5 rows x 194 columns]

In [14]:
df = df.set_index('Reg').T #transpose
df

Reg,Total,Cap,SO,GG,IC,BS,DG,GJ,DJ,US,SJ,GW,CB,CN,JB,JN,GB,GN,JJ
2003. 11,63.2,64.9,61.6,66.8,67.1,59.8,61.7,58.3,75.4,51.5,-,63.7,59.3,73.3,56.3,62.0,63.9,60.6,53.4
2003. 12,62.9,64.5,61.2,66.5,66.6,59.3,61.1,58.0,74.6,51.1,-,63.9,59.1,73.2,56.3,61.9,63.8,60.4,53.3
2004. 01,62.7,64.3,61.0,66.2,66.4,59.2,60.9,57.9,74.9,51.1,-,64.2,59.2,73.3,56.3,61.9,63.5,60.2,53.4
2004. 02,62.9,64.5,61.4,66.3,66.6,59.2,61.0,58.1,75.6,51.2,-,64.9,59.5,74.4,56.6,61.8,63.6,60.5,53.4
2004. 03,63.2,64.7,61.7,66.5,66.6,59.3,61.3,58.2,76.0,51.6,-,65.5,59.8,75.2,57.1,61.6,63.8,60.8,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019. 07,98.1,102,107.1,99.6,99.4,93.9,102.8,103.3,103.8,85.9,98.1,91.3,89.5,92.7,95.7,101.9,90,87.5,95.5
2019. 08,98,102.1,107.2,99.6,99.1,93.7,102.7,103.2,104.8,85.7,98,90.5,89,92.5,95.3,101.9,89.5,86.9,95.1
2019. 09,97.9,102.2,107.4,99.7,99.3,93.4,102.7,103.1,106.1,85.5,97.8,89.8,88.7,92.3,94.8,101.9,89.1,86.4,94.6
2019. 10,98,102.5,108.1,99.9,99.4,93.1,102.8,103,107.7,85.7,97.8,89.4,88.3,92.2,94.6,102,88.8,86,94.2
2019. 11,98.2,103,108.8,100.2,99.6,93.2,103,103.1,109.3,86,97.8,89.2,88,92.1,94.3,102,88.5,85.8,93.7

In [15]:
df = df.drop(['SJ','Cap','Total'], axis=1)
df

Reg,SO,GG,IC,BS,DG,GJ,DJ,US,GW,CB,CN,JB,JN,GB,GN,JJ
2003. 11,61.6,66.8,67.1,59.8,61.7,58.3,75.4,51.5,63.7,59.3,73.3,56.3,62.0,63.9,60.6,53.4
2003. 12,61.2,66.5,66.6,59.3,61.1,58.0,74.6,51.1,63.9,59.1,73.2,56.3,61.9,63.8,60.4,53.3
2004. 01,61.0,66.2,66.4,59.2,60.9,57.9,74.9,51.1,64.2,59.2,73.3,56.3,61.9,63.5,60.2,53.4
2004. 02,61.4,66.3,66.6,59.2,61.0,58.1,75.6,51.2,64.9,59.5,74.4,56.6,61.8,63.6,60.5,53.4
2004. 03,61.7,66.5,66.6,59.3,61.3,58.2,76.0,51.6,65.5,59.8,75.2,57.1,61.6,63.8,60.8,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019. 07,107.1,99.6,99.4,93.9,102.8,103.3,103.8,85.9,91.3,89.5,92.7,95.7,101.9,90,87.5,95.5
2019. 08,107.2,99.6,99.1,93.7,102.7,103.2,104.8,85.7,90.5,89,92.5,95.3,101.9,89.5,86.9,95.1
2019. 09,107.4,99.7,99.3,93.4,102.7,103.1,106.1,85.5,89.8,88.7,92.3,94.8,101.9,89.1,86.4,94.6
2019. 10,108.1,99.9,99.4,93.1,102.8,103,107.7,85.7,89.4,88.3,92.2,94.6,102,88.8,86,94.2
2019. 11,108.8,100.2,99.6,93.2,103,103.1,109.3,86,89.2,88,92.1,94.3,102,88.5,85.8,93.7

In [16]:
df = df.apply(pd.to_numeric)
df

Reg,SO,GG,IC,BS,DG,GJ,DJ,US,GW,CB,CN,JB,JN,GB,GN,JJ
2003. 11,61.6,66.8,67.1,59.8,61.7,58.3,75.4,51.5,63.7,59.3,73.3,56.3,62.0,63.9,60.6,53.4
2003. 12,61.2,66.5,66.6,59.3,61.1,58.0,74.6,51.1,63.9,59.1,73.2,56.3,61.9,63.8,60.4,53.3
2004. 01,61.0,66.2,66.4,59.2,60.9,57.9,74.9,51.1,64.2,59.2,73.3,56.3,61.9,63.5,60.2,53.4
2004. 02,61.4,66.3,66.6,59.2,61.0,58.1,75.6,51.2,64.9,59.5,74.4,56.6,61.8,63.6,60.5,53.4
2004. 03,61.7,66.5,66.6,59.3,61.3,58.2,76.0,51.6,65.5,59.8,75.2,57.1,61.6,63.8,60.8,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019. 07,107.1,99.6,99.4,93.9,102.8,103.3,103.8,85.9,91.3,89.5,92.7,95.7,101.9,90.0,87.5,95.5
2019. 08,107.2,99.6,99.1,93.7,102.7,103.2,104.8,85.7,90.5,89.0,92.5,95.3,101.9,89.5,86.9,95.1
2019. 09,107.4,99.7,99.3,93.4,102.7,103.1,106.1,85.5,89.8,88.7,92.3,94.8,101.9,89.1,86.4,94.6
2019. 10,108.1,99.9,99.4,93.1,102.8,103.0,107.7,85.7,89.4,88.3,92.2,94.6,102.0,88.8,86.0,94.2
2019. 11,108.8,100.2,99.6,93.2,103.0,103.1,109.3,86.0,89.2,88.0,92.1,94.3,102.0,88.5,85.8,93.7

In [17]:
df.describe()

Reg,SO,GG,IC,BS,DG,GJ,DJ,US,GW,CB,CN,JB,JN,GB,GN,JJ
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.00000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000
mean,88.083420,90.285492,89.063212,78.359067,79.599482,81.210363,89.210881,81.418653,83.136788,84.27513,88.911917,85.180311,85.000518,85.572021,84.695337,73.149741
std,13.018318,11.232027,12.575445,16.458415,16.041939,15.765944,11.231037,16.437865,11.786722,14.92188,11.304411,16.253411,15.344151,14.153469,16.909127,17.594818
min,60.400000,63.900000,64.600000,57.600000,60.900000,57.900000,74.100000,51.100000,63.700000,59.10000,73.200000,56.300000,60.900000,63.500000,60.200000,52.700000
25%,85.500000,89.200000,83.000000,59.300000,65.200000,66.400000,76.900000,71.000000,71.800000,70.30000,77.900000,68.100000,67.000000,74.900000,66.000000,54.800000
50%,91.900000,94.500000,94.900000,88.000000,73.200000,85.500000,97.100000,85.700000,88.300000,88.70000,90.100000,95.500000,95.300000,82.600000,89.100000,71.500000
75%,95.300000,97.600000,98.600000,93.100000,99.200000,98.800000,98.500000,95.400000,93.300000,98.30000,100.000000,98.800000,98.300000,99.100000,101.100000,90.000000
max,109.100000,101.700000,101.300000,100.100000,103.400000,103.800000,109.300000,102.300000,100.000000,103.50000,106.000000,104.700000,102.100000,108.900000,104.900000,100.000000

## pandas.core.window.Apply

In [18]:
M_window_size = 3 # month

def div_func(array):
    return ((array[-1]/array[0])-1)*100

df_MM = df.rolling(M_window_size, center=True).apply(lambda x: div_func(x)).dropna()

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning

In [19]:
df_MM

Reg,SO,GG,IC,BS,DG,GJ,DJ,US,GW,CB,CN,JB,JN,GB,GN,JJ
2003. 12,-0.974026,-0.898204,-1.043219,-1.003344,-1.296596,-0.686106,-0.663130,-0.776699,0.784929,-0.168634,0.000000,0.000000,-0.161290,-0.625978,-0.660066,0.000000
2004. 01,0.326797,-0.300752,0.000000,-0.168634,-0.163666,0.172414,1.340483,0.195695,1.564945,0.676819,1.639344,0.532860,-0.161551,-0.313480,0.165563,0.187617
2004. 02,1.147541,0.453172,0.301205,0.168919,0.656814,0.518135,1.468625,0.978474,2.024922,1.013514,2.592087,1.420959,-0.484653,0.472441,0.996678,-0.187266
2004. 03,1.140065,0.603318,0.300300,0.337838,0.655738,0.344234,1.322751,1.757812,1.078582,1.176471,2.150538,1.413428,-0.323625,0.628931,0.991736,0.187266
2004. 04,0.810373,0.150376,0.300300,0.337268,0.163132,0.171821,1.973684,2.131783,0.763359,1.003344,0.930851,0.700525,0.000000,0.313480,0.822368,0.375235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019. 06,0.000000,-0.499500,0.000000,-0.739958,-0.290980,-0.289575,0.678952,-0.922722,-1.403888,-1.431718,-0.643087,-0.829016,-0.098039,-0.990099,-1.241535,-0.520833
2019. 07,0.186916,-0.200401,-0.301811,-0.636267,-0.291262,-0.289855,1.256039,-0.695249,-1.630435,-1.220866,-0.537634,-0.832466,-0.098039,-0.995575,-1.362089,-0.834202
2019. 08,0.280112,0.100402,-0.100604,-0.532481,-0.097276,-0.193611,2.215800,-0.465658,-1.642935,-0.893855,-0.431499,-0.940439,0.000000,-1.000000,-1.257143,-0.942408
2019. 09,0.839552,0.301205,0.302725,-0.640342,0.097371,-0.193798,2.767176,0.000000,-1.215470,-0.786517,-0.324324,-0.734523,0.098135,-0.782123,-1.035673,-0.946372
2019. 10,1.303538,0.501505,0.302115,-0.214133,0.292113,0.000000,3.016023,0.584795,-0.668151,-0.789177,-0.216685,-0.527426,0.098135,-0.673401,-0.694444,-0.951374

## merge dataframe

In [20]:
df_MM['Date Time'] = df_MM.index
df_permit['Date Time'] = df_permit.index

In [21]:
df_merged = pd.merge(df_MM, df_permit, on='Date Time', suffixes=('_M','_P'))

In [22]:
df_merged.index = df_merged['Date Time']

In [23]:
df_merged.columns

Index(['SO_M', 'GG_M', 'IC_M', 'BS_M', 'DG_M', 'GJ_M', 'DJ_M', 'US_M', 'GW_M',
       'CB_M', 'CN_M', 'JB_M', 'JN_M', 'GB_M', 'GN_M', 'JJ_M', 'Date Time',
       'GN_P', 'GG_P', 'CB_P', 'JN_P', 'IC_P', 'SO_P', 'CN_P', 'JB_P', 'GJ_P',
       'GB_P', 'BS_P', 'DJ_P', 'DG_P', 'GW_P', 'JJ_P', 'US_P'],
      dtype='object', name='Reg')

In [46]:
df_ = pd.DataFrame(index=['0', '1'], columns=['MM', 'Permits'])
df_ = df_.fillna(np.NaN)
df_

   MM  Permits
0 NaN      NaN
1 NaN      NaN

In [47]:
for reg in list(df.columns):
    reg_M = reg+"_M"
    reg_P = reg+"_P"   
    merged_reg = pd.merge(df_merged[reg_M], df_merged[reg_P], left_index=True, right_index=True)    
    df_ = pd.concat([df_,merged_reg.rename(columns={reg_M:'MM', reg_P:'Permits'})])
df_merged_stack = df_.dropna()

In [48]:
df_merged_stack

                MM   Permits
2003. 12 -0.974026  115755.0
2004. 01  0.326797  113534.0
2004. 02  1.147541  106155.0
2004. 03  1.140065  106952.0
2004. 04  0.810373  103773.0
...            ...       ...
2019. 06 -0.520833    5460.0
2019. 07 -0.834202    5501.0
2019. 08 -0.942408    5460.0
2019. 09 -0.946372    5488.0
2019. 10 -0.951374    5343.0

[3056 rows x 2 columns]

# 2. Correlation

## Pearson correlation

In [54]:
import seaborn as sns
import scipy.stats as stats
%matplotlib inline
mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [55]:
df = df_merged_stack[['Permits','MM']]

In [56]:
overall_pearson_r = df.corr().iloc[0,1]
print(f"Pandas computed Pearson r: {overall_pearson_r}")

Pandas computed Pearson r: -0.053662380042202126

In [57]:
r, p = stats.pearsonr(df.dropna()['Permits'], df.dropna()['MM'])
print(f"Scipy computed Pearson r: {r} and p-value: {p}")

Scipy computed Pearson r: -0.05366238004220206 and p-value: 0.0030029096765474255